<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <div th:fragment="footer">
        <div class="container">
            <footer class="text-muted">
                    <span sec:authorize="isAuthenticated()">|Logged user: <span sec:authentication="name"></span>|
                        Roles: <span sec:authentication="principal.authorities"></span> |
                        <a th:href="@{/logout}">Sign out</a>
                    </span>
            </footer>
        </div>
    </div>
</html>