<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Webdes Order Edit</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">
    <h1>Редактирование заказа</h1>
    <div th:each="el : ${some_order}">
        <form method="post">
            <input type="text" th:value="${el.order}" name="order" placeholder="Введите название заинтересовавшего продукта" class="form-control"><br>
            <input type="text" th:value="${el.user}" name="user" placeholder="Введите адрес эл.почты/ник в телеграмме" class="form-control"><br>
            <button type="submit" class="btn btn-success">Обновить</button>
        </form>
    </div>

    <p class="float-left">
        <a href="/order/list">Заказы</a>
    </p>
</div>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>